body {
  background-color: rgb(255, 219, 89);
  color: rgb(4, 0, 128);
}

section {
  margin-bottom: 80px;
}

#DEPARTURE_PENNINGTON_TRANS, #DEPARTURE_HENDRY_TRANS {
  display: none;
}

#DEPARTURE_PENNINGTON:checked ~ #DEPARTURE_PENNINGTON_TRANS {
  display: block
}

#DEPARTURE_HENDRY:checked ~ #DEPARTURE_HENDRY_TRANS {
  display: block
}

.pennington-body {
  background-color: floralwhite;
  padding-left: 4%;
  padding-top: 10%;
}

.pennington-notes {
  font-style: italic;
}

.post {
  max-width: 1000px;
  margin: 0 auto;
}
